<h1><%= @greeting %></h1>

<p>
  This is a test email from GrayLedger sent at <%= @timestamp.strftime('%Y-%m-%d %H:%M:%S') %>.
</p>

<p>
  If you can see this email in letter_opener_web at http://localhost:3000/letter_opener,
  then the email configuration is working correctly!
</p>

<p>
  Best regards,<br />
  The GrayLedger Team
</p>
